/* html
{
    box-sizing: border-box;
}
*:before, *:after   
{
box-sizing: inherit; 
margin: 0px;
padding: 0px;
} */

*
{
  margin: 0px;
   padding: 0px;  
   font-family: Arial, Helvetica, sans-serif;
}
body
{
    background: #6bd7ff; 
}
.Header1
{
    background: #0064ff;
    color: #ffff00;
}
nav{
    width: 100%;
    
}
#Nav
{
   
    width: 100%;
    height: 75px;
    margin-top: 75px;
   
}
.LiNavBtn
{
    width: calc(100% / 3 - 2px);
    display: inline-block;
    float: left;
    border-width: 2px 1px 2px 1px;
    border-style:solid;
    border-color: black;
    /* border: 2px solid black; */
    text-align: center;
    height: calc(100% - 2px);
    padding-top: 50px;
    background: #1175ff;
    color: #ffff00;
    
}
#CurrentPage
{
    background: #ffff00;
    color: #1175ff;
}

.LiNavBtn:hover
{
    background: #ffff00;
    color: #1175ff;
}
#WebsiteTitle
{
    text-align: center
}
/* .LiText
{
    padding-top: 50%;
} */
#Contactform
{
    width: 60%;
    margin-left: calc(20% - 2px);
    margin-top: calc(5% - 2px);
    border: 2px solid black;
    text-align: center;
    background-color: white;
}
#contacttable
{
    margin: auto; 
    text-align: left;
    width: 80%
}
.inpContact
{
    width: 100%;
}
.trContact
{
    height: 40px;
}
